.search-bg {
  background-image: url('https://res.cloudinary.com/advanced-web-solutions/image/upload/v1629976515/images/background_1_wc4wuw.png');
  background-color: #211F2A;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @apply h-96;
}
