<div class="destination-cover" [ngStyle]="{'background-image': 'url(' + bgImage +'), url(https://via.placeholder.com/1500x650/ff6068/ffffff/?text=Visit+Luckytrip.co.uk)'}">
  <div class="bg-black opacity-50">
    <div class="container mx-auto">
      <app-details-header></app-details-header>
    </div>
  </div>

  <div class="flex flex-col items-center justify-end h-72">
    <h1 class="text-5xl text-white mb-2">{{ city }}</h1>
    <h3 class="text-xl text-white mb-5">{{ country }}</h3>
  </div>
</div>
<div class="flex items-center">
  <div class="flex-1 max-w-4xl mx-auto">
    <p class="text-[#FFED7B] text-2xl">What's it like?</p>
    <p class="text-white mb-10">{{ descText }}</p>
    <p class="text-[#7BFBFF] text-xl mb-5">Blog Posts</p>
    <div class="grid grid-cols-3 gap-4 mb-10">
      <div class="bg-[#A3A9C5] rounded-lg shadow-xl"><div class="h-60"></div></div>
      <div class="bg-[#A3A9C5] rounded-lg shadow-xl"><div class="h-60"></div></div>
      <div class="bg-[#A3A9C5] rounded-lg shadow-xl"><div class="h-60"></div></div>
      <div class="bg-[#A3A9C5] rounded-lg shadow-xl"><div class="h-60"></div></div>
      <div class="bg-[#A3A9C5] rounded-lg shadow-xl"><div class="h-60"></div></div>
      <div class="bg-[#A3A9C5] rounded-lg shadow-xl"><div class="h-60"></div></div>
    </div>
    <div class="flex flex-col justify-center items-center">
      <p class="text-[#ff7b99] text-3xl">Find a Trip to {{ city }}</p>
      <p class="text-white text-xl">Tap the Lucky button to get started…</p>
      <a href="https://luckytrip.co.uk/" target="_blank">
        <img src="https://res.cloudinary.com/advanced-web-solutions/image/upload/v1629976514/images/lucky_button_caztzl.png" class="w-28 sm:w-36 animate-breathing" alt="LuckyTrip">
      </a>
    </div>
  </div>
</div>
